html, body {
  text-align: center;
}

h2{
  text-align: center;
  font-family: "Comic Sans MS";
}

#background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  outline: 3px solid black;
  outline-offset: -3px;
  width: 350px;
  height: 100%;
  background-color: #8b2cc9;
  /*background: url('https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/2861690/523ba0496eb5d9844e5bb8d7ae5c261e0b13f228.jpg');*/
}

#radioDiv {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 90px;
  height: 90px;
  transform: translate(-50%, 0%);
}

#volumeSlider {
  position: fixed;
  bottom: -20px;
  width: 90px;
  transform: translate(-50%, 0%);
}

.radioButton {
  background-color: transparent;
  border: 0px solid transparent;
}

#radioOn {
  position: fixed;
  bottom: 0px;
  image-rendering: pixelated;
}

#radioOff {
  position: fixed;
  bottom: 0px;
  image-rendering: pixelated;
}

#accountsDiv {
  position: absolute;
  top: 17px;
  left: 50%;
  height: 50%;
  width: 90%;
	display: flex;
	flex-direction: column;
	column-gap: 8px;
  padding: 5px;
	overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 7px;
  background-color: #fff;
  transform: translate(-50%, 0%);
}

#accountsSpan {
  position: relative;
  height: calc( 100% - 20px );
  width: calc( 100% - 20px );
	gap: 8px;
  top: 10px;
  left: 10px;
}

.tempGap {
  position: relative;
  height: 8px;
}

.account {
  position: relative;
  background-color: #ddd;
  width: 95%;
  left: 0%;
	border-radius: 15px;
	padding: 8px;
}

#bskyAccount {
  height: 170px;
}

#githubAccount {
  height: 100px;
}

.accountAvatar {
	position: absolute;
  left: 10px;
	width: 20%;
  border:2px solid #ddd;
	border-radius: 50%;
}

#githubAvatar {
	position: absolute;
  top: 55px;
}

#githubAvatar {
	position: absolute;
  top: 10px;
}

.accountBanner {
	position: absolute;
  top: 0px;
  left: 0px;
	width: 100%;
	border-radius: 15px;
}

.accountName {
  position: absolute;
  top: 115px;
  left: 10px;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
  font-size: 20px;
	font-weight: 600;
	font-style: normal;
  color: #000;
  text-decoration: none;
}

#githubName {
  position: absolute;
  top: 55px;
}

.accountHandle {
  position: absolute;
  top: 135px;
  left: 10px;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
  font-size: 15;
	font-weight: 300;
	font-style: normal;
  color: rgb(66, 87, 108);
  text-decoration: none;
}

.accountFollowDiv {
  position: absolute;
  top: 160px;
  left: 10px;
  font-size: 13px;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  color: rgb(66, 87, 108);
  text-decoration: none;
}

.accountRepoDiv {
  position: absolute;
  top: 160px;
  left: 10px;
  font-size: 13px;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  color: rgb(66, 87, 108);
  text-decoration: none;
}

.accountDescription {
  position: absolute;
  top: 165px;
  left: 10px;
  font-size: 14px;
  text-align: left;
	font-family: "Inter", sans-serif;
 	 font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

#navbar {
  position: absolute;
  border: 3px solid rgb(208, 49, 68);
  border-radius: 7px;
  background: rgb(255, 221, 255);
  width: 300px;
  height: 66px;
  padding: 4px;
  bottom: 150px;
  left: 50%;
  transform: translate(-50%, 0%);
}

#cool-ppl {
  position: absolute;
  border: 3px solid rgb(208, 49, 68);
  border-radius: 7px;
  background: rgb(255, 221, 255);
  width: 300px;
  height: 115px;
  padding: 4px;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0%);
}

#main-content {
  position: absolute;
  top: 0px;
  left: 350px;
  width: calc(100% - 350px);
  height: 100%;
  background-color: #f75e72;
  /*background: url('https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/2861690/db29489e42cdc0a5fc9be523f5a58f90802f3981.jpg');*/
}

#content-frame {
  position: absolute;
  width: fit-content;
  height: fit-content;
  border: 3px solid black;
  border-radius: 15px;
  padding: 15px;
  background:white;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
}
