html, body {
  text-align: center;
  height: 100%;
  width: 100%;
}

h2{
  text-align: center;
  font-family: "Comic Sans MS";
}

#background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#sidebar {
  float:left;
  outline: 3px solid black;
  outline-offset: -3px;
  width: 20%;
  height: 100%;
  background : url('https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/2861690/523ba0496eb5d9844e5bb8d7ae5c261e0b13f228.jpg');
}

#main-content {
  float:right;
  width: 80%;
  height: 100%;
  background : url('https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/2861690/db29489e42cdc0a5fc9be523f5a58f90802f3981.jpg');
}

#content-frame {
  position: absolute;
  width: fit-content;
  height: fit-content;
  border: 3px solid black;
  border-radius: 15px;
  padding: 15px;
  background:white;
  top: 20px;
  left: 60%;
  transform: translate(-50%, 0%);
}

#navbar {
  position: absolute;
  border: 3px solid rgb(208, 49, 68);
  border-radius: 7px;
  background: rgb(255, 221, 255);
  width: calc(18% - 14px);
  height: 66;
  padding: 4px;
  bottom: calc( 15px + 15% + 15px);
  left: 10%;
  transform: translate(-50%, 0%);
}

#cool-ppl {
  position: absolute;
  border: 3px solid rgb(208, 49, 68);
  border-radius: 7px;
  background: rgb(255, 221, 255);
  width: calc(18% - 8px);
  height: calc(15% - 8px);
  padding: 4px;
  bottom: 15px;
  left: 10%;
  transform: translate(-50%, 0%);
}